.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 2.5rem 2rem 4rem;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social ul{
    width: 100%;
    display: flex;    
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    list-style: none;
}
.social ul li:not(:first-child){
    padding-left: 1rem;
}
.social .top .imageContainer p {
    font-size: .5rem;
    font-weight: 500;
}
.linksContainer{
    width: 100%;
    padding-left: 2rem;
}
.linksContainer .links ul{
    width: 100%;
    padding: 0;
    margin: 0;
}
.linksContainer .links ul li:hover{
    color: #707070;
}
.linksContainer .links ul li {
    padding: .5rem 0;
    border-bottom: 1px solid #000;
    font-weight: 600;
}
.links{
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    justify-content: left;
    align-items: baseline;
    
}
@media (max-width: 640px) {
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }
    .imageContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }
    .social{
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .social ul{
        align-items: center;
    }
    .linksContainer {
        padding: 0 2rem 2rem 2rem;
    }
    
    .linksContainer .links ul li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }