.menuBtn{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    
    cursor: pointer;
    transition: all .15s ease-in-out;
    color: #fff;
    margin-left: 50%;
    z-index: 50;
}
.menuBtn__burguer{
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .15s ease-in-out;
}
.menuBtn__burguer::before,
.menuBtn__burguer::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .15s ease-in-out;
}
.menuBtn__burguer::before{
    transform: translateY(-16px);
}
.menuBtn__burguer::after{
    transform: translateY(16px);
}
.menuBtn__burguerOpen{
    position: fixed;
    width: 40px;
    height: 6px;
    /* background-color: #fff; */
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .15s ease-in-out; 
}
.menuBtn__burguerOpen::before,
.menuBtn__burguerOpen::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .15s ease-in-out;
}
.menuBtn__burguerOpen::before{
    transform: rotate(45deg)
}
.menuBtn__burguerOpen::after{
    transform: rotate(-45deg)
}
.listContainer{
    display: none;
    position: fixed;
    background-color: #000;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 0;
    padding-top: 15rem;
    z-index: -1;
    transition: .15s ease-in-out;
}
.listContainer a {
    min-width: 120px;
    font-size: 1.8rem;
    border-bottom: 1px solid #fff;
    padding: 0;
    padding-bottom: 1px;
    display: flex;
    align-items: center ;
}
.listContainer a:first{
    position: absolute;
    top: 1rem;
    margin-top: 2rem;
}
@media (max-width: 880px) {
    .menuBtn{
        display: flex;
    }
}