.container {
    width: 100%;
    height: 122px;
    background-color: #888;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px 64px;
}
.menu{
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: lawngreen;
}
.ul{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin: 0;
}
.li {
    list-style: none;
}
.li a{
    
    font-size: 1.4em;
    padding-bottom: 16px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 4px solid #50afaf;
}
