.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 40% 22% 25%;
  grid-template-areas: "T"
                       "M"
                       "BL" 
                       "BR"
  ;
}
.header{
  height: 100%;
  grid-area: T;
  background-color: #000;
}
.slider{
  background-color: #000;
  grid-area: M;
}
.contacts{
  grid-area: BL;
  background-color: #fff;
  height: 100%;
}
.locations{
  height: 100%;
  grid-area: BR;
  background-color: #f4f4f4;
}
/* @media (max-width: 1024px) and (max-height: 1366px){
  .container{
      background-color: tomato;
      height: 100vh;
      display: grid;
      flex-direction: column;
  }
  
}
@media (max-width: 880px) {
  .container{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 880px) and (orientation: landscape) {
  .container{
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  .header{
    height: 10%;
  }
} */
@media (min-width: 1024px) and (orientation: portrait) {
  .container{
    max-height: 125vh;
    grid-template-rows: 100px 60% 15% 20%;
  }

}

@media (min-width: 880px) and (orientation: landscape) {
  .container{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100px 60rem 20rem;
    grid-template-areas: "T T"
                       "M M"
                       "BL BR" 
  ;
  }
}
@media (min-width: 1920px) and (orientation: landscape) {
    .container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100px 50rem 25rem;
  }
}

@media (min-height: 800px) and (min-width: 700px) and (max-width: 1000px) and (orientation: portrait) {
  .container{
    grid-template-rows: 100px 55rem 20rem 20rem;
  }
}